.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3f2e1; /* Color de fondo para la página */
}

.hero-section {
  background-color: #5b8c5a; /* Verde oscuro */
  color: #fff; /* Blanco */
  padding: 100px 0;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
}

.about-section {
  background-color: #f5e3d0; /* Beige */
  padding: 100px 0;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 18px;
}

.team-section {
  background-color: #C9E265; /* Verde claro */
  padding: 100px 0;
  text-align: center;
}

.team-content {
  max-width: 800px;
  margin: 0 auto;
}

.team-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.team-content p {
  font-size: 18px;
}

.contact-section {
  background-color: #664d03; /* Marrón */
  color: #fff; /* Blanco */
  padding: 100px 0;
  text-align: center;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
}

.contact-content h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-content p {
  font-size: 18px;
}

.contact-content a {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  color: #fff; /* Blanco */
  text-decoration: none;
}

.contact-content a:hover {
  text-decoration: underline;
}
